.main-toolbar-panel-headers-align {
  .mat-expansion-panel-header-description {
    justify-content: start;
  }
}

.main-toolbar-list-item {
  align-items: center;
  display: flex;
  width: 100%;
  mat-icon {
    margin-right: 10px;
  }
}

.no-shadow {
  box-shadow: none;
}
