<mat-toolbar
  color="primary"
  class="mat-elevation-z6 custom-shadow"
  id="main-toolbar"
>
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon
    class="example-icon"
    aria-hidden="false"
    aria-label="Example user verified icon"
    >mark_email_read</mat-icon
  >

  <span>{{ title }}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container id="main">
  <mat-sidenav
    class="top-74 custom-shadow"
    style="width: 250px"
    #sidenav
    mode="side"
    [(opened)]="opened"
  >
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="top-74">
    <div style="padding-left: 10px">
      ss
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
