.event-form-container {
  display: flex;
  align-items: center;

  .add-event-button {
    margin-bottom: 15px;
    height: 35px;
  }
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}
