<swal
  #infoSwal
  title="Select a contact list"
  text="You must to select one or more list of contacts"
  icon="info"
  [showCancelButton]="false"
  [focusCancel]="true"
>
</swal>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="templateForm">
    <form [formGroup]="templateForm">
      <ng-template matStepLabel>Template</ng-template>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email Subject</mat-label>
        <input
          matInput
          placeholder="Example: Hello Mr."
          formControlName="subject"
        />
      </mat-form-field>

      <app-email-template-builder #templateBuilder></app-email-template-builder>

      <div align="end" class="m-10">
        <button
          mat-raised-button
          color="primary"
          (click)="tabTemplateNexClick()"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="contactListsForm">
    <form [formGroup]="contactListsForm">
      <ng-template matStepLabel>Contact Lists</ng-template>

      <span> Select the contact lists that you want to send the mail: </span>
      <app-contact-lists-table #contactListTable></app-contact-lists-table>

      <div align="end" class="m-10">
        <button
          mat-raised-button
          color="primary"
          (click)="tabContactListNexClick()"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Events</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
